.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  background-color: var(--color-avatar-bg);
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px var(--color-avatar-border);
  height: 60px;
  width: 60px;
}
.circle {
  border-radius: 50% !important;
}

@mixin negative-margin-class($size) {
  .m-n#{$size} {
    margin: -0.25em * $size !important;
  }
  .mx-n#{$size} {
    margin-left: -0.25em * $size !important;
    margin-right: -0.25em * $size !important;
  }
  .my-n#{$size} {
    margin-top: -0.25em * $size !important;
    margin-bottom: -0.25em * $size !important;
  }
  .mt-n#{$size} {
    margin-top: -0.25em * $size !important;
  }
  .mr-n#{$size} {
    margin-right: -0.25em * $size !important;
  }
  .mb-n#{$size} {
    margin-bottom: -0.25em * $size !important;
  }
  .ml-n#{$size} {
    margin-left: -0.25em * $size !important;
  }
}
@mixin dynamic-negative-margins($size-list) {
  @each $size in $size-list {
    @include negative-margin-class($size)
  }
}
@include dynamic-negative-margins(1 2 3 4 5 6 7 8);

@mixin negative-padding-class($size) {
  .p-n#{$size} {
    padding: -0.25em * $size !important;
  }
  .px-n#{$size} {
    padding-left: -0.25em * $size !important;
    padding-right: -0.25em * $size !important;
  }
  .py-n#{$size} {
    padding-top: -0.25em * $size !important;
    padding-bottom: -0.25em * $size !important;
  }
  .pt-n#{$size} {
    padding-top: -0.25em * $size !important;
  }
  .pr-n#{$size} {
    padding-right: -0.25em * $size !important;
  }
  .pb-n#{$size} {
    padding-bottom: -0.25em * $size !important;
  }
  .pl-n#{$size} {
    padding-left: -0.25em * $size !important;
  }
}
@mixin dynamic-negative-padding($size-list) {
  @each $size in $size-list {
    @include negative-padding-class($size)
  }
}
@include dynamic-negative-padding(1 2 3 4 5 6 7 8);